@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

.theme-toggle {
	opacity: 0;
	position: absolute;
}

.theme-label {
	background-color: #efefef;
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	position: relative;
	height: 19px;
	width: 35px;
	transform: scale(1.5);
}

.theme-label .ball {
	background-color: #b3a6a6;
	border-radius: 50%;
	position: absolute;
	top: 2px;
	left: 2px;
	height: 15px;
	width: 15px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
}

.theme-toggle:checked + .theme-label .ball {
	transform: translateX(16px);
}

.fa-moon {
	color: #f1c40f;
}

.fa-sun {
	color: #f39c12;
}